*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-col{
    display: grid;
    grid-auto-flow: column;
}
.grid-row{
    display: grid;
    grid-auto-flow: row;
}
.center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
li{list-style: none;}
a{text-decoration: none;color: initial;}